.home {
  display: flex;
  flex-direction: column;
  .homeWrapper {
    display: flex;

    .sideBar {
      flex: 1.5;
      border-right: 1px solid rgb(189, 188, 188);
      min-height: 100vh;
      background-color: white;
    }

    .homeContent {
      flex: 4;

      .setting {
        width: 100%;
        text-align: left;
        border-bottom: 1px solid lightgray;
        padding-bottom: 20px;
        background-color: white;

        h2 {
          font-weight: bold;
          margin: 20px !important;
        }

        .formContainer {
          width: 40%;
          margin-left: 20px !important;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .home {
    
     .homeWrapper {
      flex-direction: column;
     
     .sideBar {
       flex: 1; // Take up full width on smaller screens
        border-right: none; // Remove right border on smaller screens
        min-height: 0;

        .dropDownList{
          margin: 10px !important;
         
        }
      }

      .homeContent {
        flex: 1; // Take up full width on smaller screens

        .setting {
          width: 100%; // Adjust width for smaller screens

          .formContainer {
            width: 90%;
          }
        }
       }
     }
  }
}

